.Bad {
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
}

.ThumbsDown {
    font-size: 40px;
    margin-right: 40px;

    display: flex;
    align-self: flex-start;
}

.Content {
    margin-left: 10px;
}