.YourReview {
    margin: 60px 0 20px;
    padding: 20px 0 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ReviewWrapper {
    width: 50%;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 30px;
}

.Description {
    font-size: 12px;
}

.GameImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Img {
    transform: scale(1.5);
}