.GameList {
    padding: 20px;
    background-color: whitesmoke;
}

.GameListUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 20px 0;
}

.Pagination {
    width: 350px;
    margin: 30px auto;
}

.Error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Progress {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: normal;
}