.GameList {
    padding: 20px;
    background-color: whitesmoke;
}

.GameListUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 60px 0;
}

h2 {
    font-weight: normal;
}