.YourReview {
    width: 80%;
    height: 80%;
    margin: 100px auto;
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 

    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.ReviewWrapper {
    width: 50%;
    padding: 10px;

    display: flex;
    flex-direction: column;
}
.RigthContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ImageWrapper {
    padding-top: 75px;
}

.Img {
    width: 250px;
    height: auto;
}

.ButtonWrapper {
    margin: 20px;

    display: flex;
    justify-content: center;
}

.ShareButton {
    margin-right: 10px;
}