.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavigationItems li:not(:last-child) {
    margin-right: 10px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}