.Reviews {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.List li {
    list-style: none; 
}

.List li:not(:last-child) {
    margin-bottom: 50px;
}

.Progress {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}